footer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 0 0.5rem 0;
}

a {
    display: inline-block;
    color: var(--text-color);
}

a:hover {
    text-decoration: none;
}

footer.footer-link {
    display: flex;
    align-items: center;
}