.header {
    margin: 1rem 0;
    padding: 0.5rem 0.5rem;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.logo-wrapper>h1 {
    font-size: 1.8rem;
    font-weight: 600;
}

.logo-wrapper>img {
    height: 60px;
}