.header {
    margin: 1rem 0;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.logo-wrapper>h1 {
    font-size: 2.3rem;
    font-family: var(--header-text);
    color: #4e3629;
}

.logo-wrapper>img {
    height: 60px;
}