.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    animation: fadeIn 0.3s ease-out;

}

.modal-container {
    background-color: #fff;
    ;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    animation: scaleUp 0.2s ease-out;
}

button.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: var(--text-color);
}

.modal-title {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: var(--header-text);
    color: var(--text-color);
}

.modal-description {
    padding: 0.7rem 0;
}

.modal-content {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--text-color);
    margin-bottom: 20px;
}

.modal-button {
    background-color: #e70303;
    color: #fff;
    font-family: var(--main-text);
    border: none;
    padding: 0.7rem 1.4rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-button:hover {
    background-color: #c20808;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}